version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: hensdb
    volumes:
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    environment:
      POSTGRES_HOST: db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: hensdb
    ports:
      - "4000:4000"
    depends_on:
      - db

  frontend-build:
    build:
      context: ./frontend
      dockerfile: Dockerfile.build
    volumes:
      - frontend-dist:/app/dist

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.nginx
    ports:
      - "3000:80"
    volumes:
      - frontend-dist:/usr/share/nginx/html
    depends_on:
      - backend

volumes:
  frontend-dist:
